version: '3.7'
services:
  db:
    image: docker.netsoc.co/public/mysql:dev-env
    container_name: netsoc-mysql
    ports:
      - 3306:3306

  auth:
    image: docker.netsoc.co/public/ldap:dev-env
    container_name: netsoc-ldap
    ports:
      - 389:389

  consul:
    image: consul:1.5.1
    container_name: netsoc-consul
    command: agent -server -bootstrap-expect 1 -ui -client 0.0.0.0
    environment:
      CONSUL_BIND_INTERFACE: eth0
    ports:
      - 8500:8500
      - 8600:53/udp
      - 8400:8400

  vault:
    image: docker.netsoc.co/public/vault:dev-env
    container_name: netsoc-vault
    environment:
      VAULT_ADDR: http://0.0.0.0:8200
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
      VAULT_DEV_ROOT_TOKEN_ID: netsoc
      VAULT_TOKEN: netsoc
    restart: on-failure
    ports:
      - 8200:8200
    depends_on:
      - auth
      - consul
    cap_add:
      - IPC_LOCK

  isso:
    image: docker.netsoc.co/public/isso:dev-env
    container_name: isso
    ports:
      - 8181:8080
    depends_on:
      - db
    restart: always